<!DOCTYPE html>
<html>
  <head>
  <title>Birthday</title>
  </head>
  <body>
    <div>
      <% if @date == 365 %>
        <h1>Happy Birthday <%= @name %> !<h1>
      <% else %>
        <h3>Your birthday will be in <%= @date %> days <%= @name %> !</h3>
      <% end %>
    </div>
  </body>
</html>