<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='app.css'>
  <title>My Birthday App</title>
  </head>
  <body>
    <div class='form'>
      <form action="/names" method="post" class='form'>
      <div>
        <h1 class='h1-greeting'>Hello there!</h1>
      </div>
      <div>
        <h2 class='h2-greeting'>What's your name?</h2>
      </div>
      <div>
        <input type="text" name="your_name" class="form-name-input" placeholder="Please enter your name">
      </div>
      <div>
        <h2 class='h2-greeting'>When's your birthday?</h2>
      </div>
      <div class='day'>
        <label for="Day" class='name-label'>Day</label>
        <input type="text" name="your_bday_day" class="form-day-input" placeholder="Day">
      <%# </div>
      <div class='month'> %>
        <label for="Month" class='month-label'>Month</label>
        <select name="your_bday_month" class="form-month-input">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>
      <div>
        <input type="submit" value="Go!" class="submit-button">
      </div>
      </form>
    </div>
  </body>
</html>